

body{
  margin:0;
  
   font-family: 'Khula', sans-serif;
/*  font-family: 'Special Elite', cursive;
*/



}


h1{
  text-align: center;
  margin: 5% auto;
  text-transform: uppercase;
  font-weight: bold;
}


.mainSection{
  margin-left: 2%;
  margin-right:2%;
}

.highlight_area{
  font-weight: bold;
  
}
