/*

 * {
  border: 1px solid black;
}
*/


.persondiv{
  margin-top:5%;
  border:1px solid #E2DCDC;
  height:430px;
  width: 40%;
  margin-left:2%;
  margin-right:2%;
  display:inline-block;
  position:relative;
  left:6%;
  vertical-align: top;
}

.persondiv h2, .persondiv p{
  margin-left:2%;
}

.persondiv h2{
  font-weight: bold;
  text-transform: uppercase;
}

.persondiv p{
  font-size: 16px;
}

.picturediv{
  border:1px solid gray;
  height:200px;
  width: 200px;
  border-radius: 100px;
  margin-left:5%;
  margin-top:3%;
}

@media screen and (min-device-width: 350px) and (max-device-width: 627px) {

/* * {
  border: 1px solid black;
}*/



.persondiv{
  margin-top:5%;
  border:1px solid #E2DCDC;
  height:1300px;
  width: 90%;
  position:relative;
  left: 0;
  margin-left:5%;
  margin-right:5%;
  vertical-align: none;
}


.persondiv h2{
  font-size: 3em;
}

.persondiv p{
  font-size: 3em;
}

.picturediv{
  border:1px solid gray;
  height:400px;
  width: 400px;
  border-radius: 200px;
  margin-left:-19%;
  margin-top:5%;
  margin-bottom:10%;
}

footer{
 font-size: 3em;
}


}

@media screen and (min-width: 350px) and (max-width: 1100px) {


.persondiv{
  margin-top:5%;
  border:1px solid #E2DCDC;
  height:1300px;
  width: 90%;
  position:relative;
  left: 0;
  margin-left:5%;
  margin-right:5%;
  vertical-align: none;
}


.persondiv h2{
  font-size: 3em;
}

.persondiv p{
  font-size: 3em;
}

.picturediv{
  border:1px solid gray;
  height:400px;
  width: 400px;
  border-radius: 200px;
  margin-left:-19%;
  margin-top:5%;
  margin-bottom:10%;
}

footer{
 font-size: 3em;
}


}